/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 0rem;
}
.navbar-custom {
}
/* change the brand and text color */
/*.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(0,0,0,.8);
}*/
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-link.active,
.navbar-custom .nav-link:hover {
    color: #000000;
} 
.border-3 {
    border-width:3px !important;
}
.border-orange {
    border-color: #f80 !important;
}
.border-darkgrey {
    border-color: #888 !important;
}
.orange {
    color: #f80 !important;
}
